{% extends '@CMS/Backend/base.html.twig' %}
{% form_theme form '@Calendar/Admin/form_theme.html.twig' %}

{% block content_title %}
    <a class="btn btn-sm btn-close-tab" href="{{ path('calendar_event_edit', { uuid: event.uuid, tab: 'rules' }) }}">
        <span class="fas fa-times"></span>
    </a>
    {{ title }}
{% endblock %}

{% block content_wrapper %}
    {{ form_start(form, {
        attr: {
            class: 'content-form col flex-grow-1 overflow-auto d-flex flex-column ' ~ contentClass,
            style: 'max-height: 100vh'
        }
    }) }}
    {{ block('content_top') }}
    {{ block('messages') }}
    {{ block('content') }}
    {{ form_end(form) }}
{% endblock content_wrapper %}

{% block content_top_actions %}
    {% set typeOptions = { attr: { class: 'btn btn-primary btn-sm' } } %}
    {% if form.save is defined %}
        <div class="col-auto ms-auto content-actions">
            {{ form_widget(form.save, typeOptions) }}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="p-4">

        {{ form_row(form.ruleTitle) }}
        {{ form_row(form.participants) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.bookingInfo) }}
        {{ form_row(form.artist) }}
        {{ form_row(form.organizer) }}

        <div class="row">
            <div class="col">
                {{ form_row(form.startDate) }}
            </div>
            <div class="col">
                {{ form_row(form.endDate) }}
            </div>
        </div>

        <div class="bg-light rounded border p-4 pb-2 mb-3">
            <h5 class="mb-4">
                {{ 'calendar.label.repeats'|trans({}, 'cms') }}
            </h5>

            {{ form_row(form.frequency) }}

            {% if form.frequencyDays is defined %}
                {{ form_row(form.frequencyDays) }}
            {% endif %}
            {% if form.frequencyWeeks is defined %}
                <div class="row">
                    <div class="col">
                        {{ form_row(form.frequencyWeeks) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.frequencyWeeksOn) }}
                    </div>
                </div>
            {% endif %}

            {% if form.frequencyMonths is defined %}
                <div class="row">
                    <div class="col">
                        {{ form_row(form.frequencyMonths) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.frequencyMonthsOn) }}
                    </div>
                </div>
            {% endif %}

            {% if form.repeatEndDate is defined %}
                {{ form_row(form.repeatEndDate) }}
            {% endif %}
        </div>

        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block actions %}

{% endblock actions %}
